PySide6==6.7.2
pyinstaller==6.10.0
fastapi
starlette
uvicorn
python-dotenv
requests
numpy
openpyxl
xlrd==1.2.0
pandas
imapclient
pillow
matplotlib
sse-starlette

pyzmail36
xlsxwriter
python-multipart
pydantic
